/* <weight>: Use a value from 300 to 800 */
* {
  box-sizing: border-box;
}
:root {
  --main-color: #3f51b5;
}
body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  min-height: 100vh;
  width: 200px;
  background: #fff;
  box-shadow: 0 0 10px #00000076;
  z-index: 600;
  transition: 0.2s;
}
.settings-box.open {
  left: 0;
}
.settings-box .icon-container {
  position: absolute;
  top: 147px;
  right: -40px;
  padding: 12px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  box-shadow: 10px 0px 10px #0000001f;
}

.settings-box .icon {
  font-size: 20px;
}
.settings-box .icon-container .one {
  position: absolute;
  top: -11px;
  left: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  background: transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-radius: 0px;
}
.settings-box .icon-container .two {
  position: absolute;
  bottom: -11px;
  left: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  background: transparent;
  border-top-color: white;
  border-left-color: white;
  border-radius: 0px;
}
.settings-box .settings-container {
  padding: 15px;
}
.settings-box .settings-container .option-box {
  text-align: center;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0px 2px 5px #00000059;
  transition: 0.3s;
  margin-bottom: 15px;
}
.settings-box .settings-container .option-box h4 {
  width: fit-content;
  padding-bottom: 5px;
  color: #607d8b;
  margin: 0;
  font-size: 18px;
  margin: 0 auto 22px;
  border-bottom: 2px solid #607d8b;
  border-radius: 2px;
}
.settings-box .settings-container .option-box .colors-box {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0 auto;
}
.settings-box .settings-container .option-box .colors-box li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ccc;
  /* display: inline-block; */
  cursor: pointer;
  margin: 3px;
  /* opacity: 0.6; */
  transition: 0.3s;
}
.settings-box .settings-container .option-box .colors-box li:first-child {
  background-color: #f44336;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(3) {
  background-color: #9c27b0;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(4) {
  background-color: #673ab7;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(5) {
  background-color: #3f51b5;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(6) {
  background-color: #2196f3;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(7) {
  background-color: #00bcd4;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(8) {
  background-color: #009688;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(9) {
  background-color: #4caf50;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(10) {
  background-color: #8bc34a;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(11) {
  background-color: #cddc39;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(12) {
  background-color: #ffc107;
}
.settings-box .settings-container .option-box .colors-box li:nth-child(13) {
  background-color: #ff5722;
}
.settings-box .settings-container .option-box .colors-box li:last-child {
  background-color: #607d8b;
}
.settings-box .settings-container .option-box .colors-box li.active {
  border: 4px solid black;
}
.settings-box .settings-container .option-box button.active {
  opacity: 1;
}
.settings-box .settings-container .option-box button {
  border: none;
  padding: 7px 13px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
  transition: 0.3s;
}
.settings-box .settings-container .option-box button.yes,
.settings-box .settings-container .option-box button.no {
  background-color: var(--main-color);
}
.settings-box .settings-container .reset-options {
  width: 100%;
  border: none;
  padding: 10px;
  font-weight: 700;
  color: white;
  background-color: #f44336;
  border-radius: 4px;
  cursor: pointer;
}

/* -----------Bullets nav */
.bullets {
  position: fixed;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 45px;
  z-index: 500;
}
@media (max-width: 767px) {
  .bullets {
    width: 35px;
  }
}
.bullets .bullet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.bullets .bullet .tooltip {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 32px;
  padding: 8px 10px;
  background: var(--main-color);
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  width: fit-content;
  white-space: nowrap;
  cursor: default;
  pointer-events: none;
  opacity: 0;
  transition: 0.1s;
  box-shadow: 0 0 8px #00000036;
}
.bullets .bullet:hover .tooltip {
  opacity: 1;
}
.bullets .bullet .tooltip::before {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  translate: 0 -50%;
  border-color: transparent transparent transparent var(--main-color);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px;
}

/* ------------Header */
.header {
  position: relative;
  color: #fff;
  background-color: #131925;
  box-shadow: 0 2px 16px rgb(14 18 27 / 30%);
  z-index: 700;
}
.header .nav {
  padding: 15px;
}
.header .nav-data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 23px;
  position: relative;
}
.header .logo .nav-logo {
  margin-right: 6px;
  color: var(--main-color);
  font-size: 30px;
}
.header .logo span {
  color: var(--main-color);
}
.nav-toggle {
  width: 30px;
  height: 30px;
  position: relative;
}
.nav-toggle .toggle-menu,
.nav-toggle .nav-close {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  color: #fff;
  cursor: pointer;
  font-size: 27px;
  transition: opacity 0.2s, rotate 0.3s;
}
.nav-toggle .nav-close {
  opacity: 0;
}
@media (max-width: 992px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.2s;
  }
}
.nav-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: #131925;
  padding-top: 1rem;
}
.nav-link {
  display: block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 30px;
  transition: background-color 0.3s;
}
.nav-link:hover {
  background-color: #171f29;
}
@media (min-width: 768px) {
  .header .nav {
    padding: 20px;
  }
}
@media (min-width: 992px) {
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .toggle-menu,
  .nav-close {
    display: none;
  }
  .nav-list {
    height: 100%;
    display: flex;
    padding-top: 0;
  }
  .nav-link {
    padding: 30px;
    height: 100%;
  }
}
/* =======For large screens */

/* Show menu */

.nav-menu.show-menu {
  opacity: 1;
  top: 54px;
  pointer-events: initial;
}

/* Show icon */
.show-icon .toggle-menu {
  opacity: 0;
  rotate: 90deg;
}
.show-icon .nav-close {
  opacity: 1;
  rotate: 90deg;
}

/* --------------Landing */
.landing-page {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.landing-page .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/background1.jpg");
  filter: blur(1px);
  background-size: cover;
  z-index: -1;
  scale: 1.1;
  rotate: 0deg;
  transition: background-image 1.5s;
  animation: scalingBg 11s alternate infinite;
}
.landing-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 33%);
  z-index: -1;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #fff;
  text-align: center;
  width: 80%;
}
/* @media (max-width: 767px) {
  .intro {
    width: 77%;
  }
} */
.intro h1 {
  font-size: 40px;
  margin: 0 0 15px;
}
.intro h1 span {
  color: var(--main-color);
  font-size: 45px;
  letter-spacing: -2px;
}
.intro p {
  line-height: 1.6;
  font-size: 16px;
  margin: 0 auto;
}

/* -----------------About us */
.about-us {
  background-color: #fff;
}
.about-us .container {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .about-us .container {
    display: block;
    text-align: center;
  }
}
.about-us .text {
  flex: 1;
  margin-right: 30px;
}
@media (max-width: 991px) {
  .about-us .text {
    margin-right: 0;
  }
}
.about-us .text h2 {
  position: relative;
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 30px;
  color: var(--main-color);
}
.about-us .text h2::before,
.about-us .text h2::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
}
.about-us .text h2::before {
  background-color: white;
  width: 120px;
}
.about-us .text h2::after {
  background-color: var(--main-color);
  width: 40px;
}
@media (max-width: 991px) {
  .about-us .text h2::before,
  .about-us .text h2::after {
    content: "";
    position: absolute;
    height: 4px;
    bottom: -10px;
    left: 50%;
    translate: -50%;
    border-radius: 3px;
  }
  .about-us .text h2::before {
    background-color: white;
    width: 100%;
  }
  .about-us .text h2::after {
    background-color: var(--main-color);
    width: 80px;
  }
}
.about-us .text p {
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
  color: #666;
  max-width: 600px;
}
@media (max-width: 991px) {
  .about-us .text p {
    max-width: 100%;
  }
}

.about-us .image img {
  width: 400px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .about-us .image img {
    margin-top: 80px;
    width: 350px;
  }
}

/* ---------Skills */
.skills {
  min-height: 100vh;
  background-color: #ececec;
  padding-top: 50px;
  padding-bottom: 50px;
}
.skills h2 {
  width: fit-content;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto 65px;
  color: var(--main-color);
}
.skills h2::before,
.skills h2::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  border-radius: 3px;
}
.skills h2::before {
  background-color: white;
  width: 100%;
}
.skills h2::after {
  background-color: var(--main-color);
  width: 80px;
}
.skills .skill {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 41px;
  background-color: #fff;
  box-shadow: 0 0 8px #00000036;
}
.skills .skills-container .skill h3 {
  font-weight: bold;
  margin: 0 20px 0 10px;
}
.skills .skills-container .skill .progress {
  height: 30px;
  flex: 1;
  background-color: #f6f6f6;
  border-radius: 4px;
  position: relative;
}
.skills .skills-container .skill .progress span {
  background-color: var(--main-color);
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: 0.5s;
}

.skills .skills-container .skill .progress span::before {
  content: attr(data-progress);
  position: absolute;
  right: 0px;
  translate: 50%;
  top: -50px;
  background-color: #fff;
  border-radius: 5px;
  color: var(--main-color);
  padding: 5px;
}
.skills .skills-container .skill .progress span::after {
  content: "";
  position: absolute;
  right: 0px;
  translate: 50%;
  top: -27px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  rotate: 45deg;
  border-radius: 2px;
}

/* ----------Gallery */

.gallery {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery .imgs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 8px;
}
.gallery h2 {
  width: fit-content;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto 65px;
  color: var(--main-color);
}
.gallery h2::before,
.gallery h2::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  border-radius: 3px;
}
.gallery h2::before {
  background-color: white;
  width: 100%;
}
.gallery h2::after {
  background-color: var(--main-color);
  width: 80px;
}
.gallery .container img {
  max-width: 100%;
  height: 100%;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.5s;
}
.gallery .container .img-container:hover img {
  transform: scale(1.3) rotate(5deg);
  opacity: 1;
}
.gallery .img-container {
  overflow: hidden;
  border: 5px solid #ccc;
}
.popup-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 15px;
  border: 5px solid #ccc;
  background-color: #fff;
  z-index: 800;
}
.popup-box .img-container {
  overflow: hidden;
}
.popup-box img {
  max-width: 100%;
  animation: scalingImg 15s 1s alternate infinite;
}

.popup-box h3 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 0 0 15px;
  color: var(--main-color);
}
.popup-box .close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: -15px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 5px;
}

/* -----------------Timeline */

.timeline {
  background-color: #ececec;
  padding-top: 50px;
  padding-bottom: 50px;
}
.timeline h2.title {
  width: fit-content;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto 65px;
  color: var(--main-color);
}
.timeline h2.title::before,
.timeline h2.title::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  border-radius: 3px;
}

.timeline h2.title::before {
  background-color: white;
  width: 100%;
}
.timeline h2.title::after {
  background-color: var(--main-color);
  width: 80px;
}
.timeline .timeline-container {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-container::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -2px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
}
.timeline .year {
  position: relative;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 14px;
  background-color: var(--main-color);
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}

.timeline .left,
.timeline .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  box-shadow: 0 0 8px #00000036;
  border-radius: 5px;
}
.timeline .left {
  float: left;
}
.timeline .left::before,
.timeline .right::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid var(--main-color);
}
.timeline .left::before {
  right: -25px;
  translate: 50%;
}
.timeline .left::after,
.timeline .right::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
}
.timeline .left::after {
  border-color: transparent transparent transparent #fff;
  right: -19px;
}

.clearfix {
  clear: both;
}
.timeline .right {
  float: right;
}
.timeline .right::before {
  left: -25px;
  translate: -50%;
}
.timeline .right::after {
  border-color: transparent #fff transparent transparent;
  left: -19px;
}
.timeline .content {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
.timeline .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 15px;
  position: relative;
}
.timeline .content h3::before {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
  background-color: var(--main-color);
  width: 40px;
}

.timeline .content p {
  margin: 0;
  color: #666;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .timeline .left,
  .timeline .right {
    width: 100%;
    text-align: center;
  }
  .timeline .left::before,
  .timeline .right::before,
  .timeline .left::after,
  .timeline .right::after {
    display: none;
  }
  .timeline .content h3::before {
    display: none;
  }
}
/* ---------Our Features */
.features {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features h2.title {
  width: fit-content;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto 65px;
  color: var(--main-color);
}
.features h2.title::before,
.features h2.title::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  border-radius: 3px;
}
.features h2.title::before {
  background-color: white;
  width: 100%;
}
.features h2.title::after {
  background-color: var(--main-color);
  width: 80px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .feat-box {
  text-align: center;
  padding: 20px;
  box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.features .feat-box img {
  width: 96px;
}

.features .feat-box h4 {
  font-weight: bold;
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: var(--main-color);
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}

.features .feat-box p {
  line-height: 1.7;
  color: #706f6f;
  margin: 0;
}

/* ---------Contact */
.contact {
  min-height: 600px;
  background-image: url("../imgs/contact.png");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
}
.contact .container {
  position: relative;
}
.contact h2.title {
  width: fit-content;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto 65px;
  color: var(--main-color);
}
.contact h2.title::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  border-radius: 3px;
  background-color: var(--main-color);
  width: 80px;
}
.contact form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .contact form {
    display: block;
  }
}
.contact form .left,
.contact form .right {
  flex: 1;
}
.contact form input:not([type="submit"]),
.contact form textarea {
  border-radius: 6px;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}

.contact form input[type="submit"] {
  display: block;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.contact form textarea:focus::placeholder,
.contact form input[type="submit"]::placeholder {
  opacity: 0;
  transition: 0.2s;
}
/* ========Footer */

.footer {
  background-color: #131925;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 767px) {
  h2.title {
    font-size: 35px !important;
  }
}
@keyframes scalingBg {
  0% {
    scale: 1.1;
    rotate: 0deg;
    filter: blur(1px);
  }
  100% {
    rotate: 5deg;
    scale: 1.4;
    filter: blur(3px);
  }
}
@keyframes scalingImg {
  0% {
    scale: 1;
    /* rotate: 0deg; */
  }
  100% {
    /* rotate: 5deg; */
    scale: 1.5;
  }
}

@keyframes up-and-down {
  50% {
    translate: 0 -50px;
  }
  100% {
    translate: 0;
  }
}
